body {
    background-color: #f1f4f9; /* или любой другой цвет */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 20px;
}
